/* Ganti warna sidebar */
.main-sidebar {
    background-color: #fee50f !important;
}

/* Ganti warna navbar (jika diinginkan) */
.main-header {
    background-color: #fee50f !important;
}

/* Ganti warna link sidebar agar tetap terbaca */
.nav-sidebar .nav-link {
    color: #000 !important;
}
.nav-sidebar .nav-link.active {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #000 !important;
}

/* Ganti warna hover link */
.nav-sidebar .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #000 !important;
}

.btn-kuning {
    background-color: #fee50f;
    color: black;
    border: none;
}

  .btn-kuning:hover {
      background-color: #e6cf00;
      color: black;
  }

  .link-kuning {
      color: #fee50f !important;
  }

  .link-kuning:hover {
      color: #e6cf00 !important;
      text-decoration: underline;
  }
